@model CVMVC.Web.Models.Entity.Educations
@{
    ViewBag.Title = "UpdateEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Edit Experience</h2>
    </div>
    <div class="row">

        <div class="col-md-9 mb-md-0 mb-5">
            @using (Html.BeginForm("UpdateEducation", "Education",
                 new { ReturnUrl = Request.QueryString["ReturnUrl"] },
                 FormMethod.Post,
                 new { @class = "form-group" }
                 ))
            {


                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            @Html.LabelFor(m => m.title, "Title", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.title, new
                            {
                                @class = "form-control",
                                placeholder = "Title",
                                autofocus = ""
                            })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            @Html.LabelFor(m => m.subtitle1, "Subtitle1", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.subtitle1, new
                            {
                                @class = "form-control",
                                placeholder = "Subtitle1",
                                autofocus = ""
                            })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            @Html.LabelFor(m => m.subtitle2, "Subtitle2", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.subtitle2, new
                            {
                                @class = "form-control",
                                placeholder = "Subtitle2",
                                autofocus = ""
                            })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="md-form">
                            @Html.LabelFor(m => m.gpa, "GPA", new { @class = "control-label" })
                            @Html.TextAreaFor(m => m.gpa, new
                            {
                                @class = "form-control",
                                placeholder = "GPA",
                                autofocus = ""
                            })
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            @Html.LabelFor(m => m.date, "Date", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.date, new
                            {
                                @class = "form-control",
                                placeholder = "Date",
                                autofocus = ""
                            })
                        </div>
                    </div>
                </div>



                <div class="row text-center">
                    <div class="col-4 mt-3">
                        <button class="btn btn-lg btn-primary btn-block" style="width:200px" type="submit">
                            <i class="fas fa-pencil-alt"></i>
                            Edit
                        </button>
                    </div>
                </div>

            }

        </div>

    </div>


</div>

