@model CVMVC.Web.Models.Entity.SocialMedia
@{
    ViewBag.Title = "UpdateSocialMedia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Update Socia Media</h2>
    </div>
    <div class="row">

        <div class="col-md-9 mb-md-0 mb-5">
            @using (Html.BeginForm("UpdateSocialMedia", "SocialMedia",
                 new { ReturnUrl = Request.QueryString["ReturnUrl"] },
                 FormMethod.Post,
                 new { @class = "form-group" }
                 ))
            {

                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            @Html.LabelFor(m => m.smname, "Social Media Name", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.smname, new
                            {
                                @class = "form-control",
                                placeholder = "Social Media Name",
                                autofocus = ""
                            })
                            @Html.ValidationMessageFor(m => m.smname, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            @Html.LabelFor(m => m.link, "Link", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.link, new
                            {
                                @class = "form-control",
                                placeholder = "Link",
                                autofocus = ""
                            })
                            @Html.ValidationMessageFor(m => m.link, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            @Html.LabelFor(m => m.icon, "Icon", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.icon, new
                            {
                                @class = "form-control",
                                placeholder = "Icon",
                                autofocus = ""
                            })
                            @Html.ValidationMessageFor(m => m.icon, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-4 mt-3">
                        <button class="btn btn-lg btn-primary btn-block" style="width:200px" type="submit">
                            <i class="fas fa-pencil-alt"></i>
                            Edit
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
